force-app/main/default/flows/Estate_Registration_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>nitronfxprojects@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00Xfj00000BafFJEAZ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>Account_Type</name>
        <label>Account Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Landlord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Landlord</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Action_1</targetReference>
            </connector>
            <label>Not Landlord</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FirstName</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Name}, FIND(&quot; &quot;, {!$Record.Name}) - 1)</expression>
    </formulas>
    <formulas>
        <name>Lastname</name>
        <dataType>String</dataType>
        <expression>MID({!$Record.Name}, FIND(&quot; &quot;, {!$Record.Name}) + 1, LEN({!$Record.Name}))</expression>
    </formulas>
    <interviewLabel>Estate Registration Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Estate Registration Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>accountId</assignRecordIdToReference>
        <connector>
            <targetReference>getPersonContact</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lastname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>getPersonContact</name>
        <label>getPersonContact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Estate_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Estate_Account</name>
        <label>Update Estate Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <object>Estate__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
