force-app/main/default/flows/Order_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Out_for_Delivery_Alert</name>
        <label>Out for Delivery Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>nitronfxprojects@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Out for Delivery</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00Xfj000009qfMsEAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account__r.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assignment_3</name>
        <label>Assignment 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>earliestTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dueTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>earliestTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dueTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>orderTimeAssignment</name>
        <label>orderTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>orderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShippingDurationCalculator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TimeAssignment1</name>
        <label>TimeAssignment1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>earliestTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dueTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ShippingDurationCalculator</name>
        <label>ShippingDurationCalculator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Records_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipping_Method__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TimeAssignment1</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
        <rules>
            <name>Expedited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipping_Method__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expedited</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_3</targetReference>
            </connector>
            <label>Expedited</label>
        </rules>
        <rules>
            <name>Same_Day_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipping_Method__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Same Day Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_4</targetReference>
            </connector>
            <label>Same Day Delivery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Updated</name>
        <label>Status Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Out_for_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out for Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Out_for_Delivery_Alert</targetReference>
            </connector>
            <label>Out for Delivery</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Shipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>orderTimeAssignment</targetReference>
            </connector>
            <label>Shipped</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dueTimeCalc</name>
        <dataType>DateTime</dataType>
        <expression>{!orderDateTime}+{!dueTime}</expression>
    </formulas>
    <formulas>
        <name>earliestTimeCalc</name>
        <dataType>DateTime</dataType>
        <expression>{!orderDateTime}+{!earliestTime}</expression>
    </formulas>
    <interviewLabel>Order Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Work Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>WorkOrderNumber</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Work_Order_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account__r.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_4</name>
        <label>Assigning Service Resource</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>ServiceAppointmentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>ServiceResourceID</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Appointment</name>
        <label>Create Service Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>ServiceAppointmentID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account__r.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>dueTimeCalc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>earliestTimeCalc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>WorkOrderLineItemsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>dueTimeCalc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>earliestTimeCalc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>TerritoryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Order Delivery</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Line_Item</name>
        <label>Create Work Order Line Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>WorkOrderLineItemsID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Territory</targetReference>
        </connector>
        <inputAssignments>
            <field>Custom_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Order Delivery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderNumber</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Records_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>ServiceResourceID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory</name>
        <label>Get Territory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>TerritoryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Service_Resource__c</field>
            <value>
                <elementReference>ServiceResourceID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>Custom_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>dueTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>earliestTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>orderDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmenttID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerritoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItemsID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
