force-app/main/default/flows/Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Decider</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Test_and_Title_Update</name>
        <label>Test and Title Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your order has been shipped to our store/warehouse nearest to you</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Shipped</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Shipped_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Test_and_Title_Update_3</name>
        <label>Text and Title Update 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Our delivery personel is out to deliver your order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out for Delivery</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Out_of_Delivery_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Text_and_Title_Update</name>
        <label>Text and Title Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdateTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Packaged</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your order has been packaged</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Packaged_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Text_and_Title_Update_4</name>
        <label>Text and Title Update 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your order has been delivered to you</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Delivered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Text_and_Title_Update_5</name>
        <label>Text and Title Update 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Order is closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Completed_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Status_Decider</name>
        <label>Status Decider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Confirmed_Record</targetReference>
            </connector>
            <label>Order Confirmed</label>
        </rules>
        <rules>
            <name>Order_Packaged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Packaged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Text_and_Title_Update</targetReference>
            </connector>
            <label>Order Packaged</label>
        </rules>
        <rules>
            <name>Order_Shipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_and_Title_Update</targetReference>
            </connector>
            <label>Order Shipped</label>
        </rules>
        <rules>
            <name>Order_Out_for_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out for Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_and_Title_Update_3</targetReference>
            </connector>
            <label>Order Out for Delivery</label>
        </rules>
        <rules>
            <name>Order_Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Text_and_Title_Update_4</targetReference>
            </connector>
            <label>Order Delivered</label>
        </rules>
        <rules>
            <name>Order_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Text_and_Title_Update_5</targetReference>
            </connector>
            <label>Order Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Completed_Record</name>
        <label>Create Order Completed Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Text__c</field>
            <value>
                <elementReference>UpdateText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Title__c</field>
            <value>
                <elementReference>UpdateTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Order_Update__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Confirmed_Record</name>
        <label>Create Order Confirmed Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Text__c</field>
            <value>
                <elementReference>UpdateText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Title__c</field>
            <value>
                <elementReference>UpdateTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Order_Update__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Out_of_Delivery_Record</name>
        <label>Create Order Out of Delivery Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Text__c</field>
            <value>
                <elementReference>UpdateText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Title__c</field>
            <value>
                <elementReference>UpdateTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Order_Update__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Packaged_Record</name>
        <label>Create Order Packaged Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Text__c</field>
            <value>
                <elementReference>UpdateText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Title__c</field>
            <value>
                <elementReference>UpdateTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Order_Update__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Shipped_Record</name>
        <label>Create Order Shipped Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Text__c</field>
            <value>
                <elementReference>UpdateText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Title__c</field>
            <value>
                <elementReference>UpdateTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Order_Update__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_5</name>
        <label>Create Order Delivered Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Text__c</field>
            <value>
                <elementReference>UpdateText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Title__c</field>
            <value>
                <elementReference>UpdateTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Order_Update__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <object>Custom_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Your Order has been confirmed</stringValue>
        </value>
    </variables>
    <variables>
        <name>UpdateText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Your order has been confirmed</stringValue>
        </value>
    </variables>
    <variables>
        <name>UpdateTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Order Confirmed</stringValue>
        </value>
    </variables>
</Flow>
